{{ERROR_MESSAGES}}

<form action="/psw_renew" method="post" autocomplete="on">

  <label>SAEManager - Nouveau mot de passe </label>
  <fieldset>
    <legend>Nouveau mot de passe</legend>

    <label for="pwdnew">
      Email
      <abbr title="requis" >*</abbr>
    </label>
    <input
            required
            type="password"
            id="pwdnew"
            name="pwdnew"
            minlength="8"
            autocomplete="new-password"
            aria-required="true">

    <label for="pwdverif">
      Confirmer le mot de passe
      <abbr title="requis" >*</abbr>
    </label>
    <input
            required
            type="password"
            id="pwdverif"
            name="pwdverif"
            minlength="8"
            autocomplete="new-password"
            aria-required="true">
  </fieldset>
  <br>

  <button type="submit">Confirmer</button>
  <br>
  <img src="../../../../image/logo.png" alt="/Image/logo.png">
</form>