
<div class="sae-manager-page">
    <h1>Bienvenue sur SAE Manager</h1>

    <h2>Gérez mieux vos SAE – Gérez votre planning – Gérez votre réussite</h2>

    <p class="description_text">
        SAE Manager est un site vous permettant de planifier vos SAE à travers l’ajout de tâches, de listes et d’objectifs sous la forme d’un tableau avec
        un graphe de votre avancement tout au long de votre projet. Vous êtes professeurs ? SAE Manager vous permet de créer une plateforme en lien avec vos SAE et de pouvoir
        voir l’avancement de vos étudiants. Vous êtes clients d’un ou plusieurs projets ? Vous pouvez vous aussi voir comment avancent les étudiants et les aider dans leurs projets.
    </p>

    <h3>D’où vient SAE Manager ?</h3>

    <p class="description_text">
        SAE Manager a été pensé à la demande de Mme Sakli pour centraliser et ordonner tous les livrables et informations que les différents partis,
        tels que les clients, les responsables de SAE ou les étudiants, peuvent retrouver facilement. Ce site permet ainsi aux différentes parties de bien
        prendre en main les SAE et d’optimiser au mieux leur temps de travail.
    </p>

    <h3>Enfin convaincu ? Alors inscrivez-vous !</h3>

    <p>
        <a class="sae-button" href="/register">Inscription</a>
    </p>
</div>
