
<h1>Bienvenue sur SAE Manager</h1>

<h2>Gérer mieux vos SAE  - Gérer votre planing - Gérer votre réussite</h2>

<span class="description_text" >SAE Manager est un site vous permettant de pouvoir planifier vos SAE à travers l’ajout de tâches, de listes et d’objectifs sous la forme d’un tableau avec
    un graphe de votre avancement tout au long de votre projet. Vous êtes professeurs ? Sae Manger vous permet de créer une plateforme en lien avec vos SAE et de pouvoir
     voir l’avancement de vos étudiants. Vous êtes clients d’un ou plusieurs projets ? Vous pouvez vous aussi voir comment avancent les étudiants et les aider dans leurs projets.</span>
<br>
<h3>D’ou vient SAE MANAGER ?</h3>
<br>
<span class="description_text" >SAE Manager a été pensé à la demande de Mme Sakli pour pouvoir centraliser et ordonner tous les livrables et informations que les différents partis,
     tels que les clients, les responsables de SAE ou les étudiants, peuvent retrouver facilement. Ce site, de plus,
     permet aux différentes parties de pouvoir bien prendre en main les SAE et de pouvoir optimiser au mieux leur temps de travail.</span>
<br>
<h3>Enfin convaincu ? alors inscrit toi !</h3>

<br>
<button type="button" name="inscription" > >Inscription</button>
