parameters:
  level: 7
  paths:
    - modules/
    - _assets
  
  excludePaths:
    - */vendor/*
  
  ignoreErrors:
    - '#Call to an undefined method PDO::#'
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
  
  reportUnmatchedIgnoredErrors: false
