parameters:
  level: 8
  paths:
    - App/src/
    - Core/
  
  bootstrapFiles:
    - App/config/routes.php
  
  excludePaths:
    - */vendor/*
    - */tests/*
  
  ignoreErrors:
    - '#Call to an undefined method PDO::#'
  
  reportUnmatchedIgnoredErrors: false
