{{ERROR_MESSAGES}}
{{SUCCESS_MESSAGE}}
<header style="text-align: center; padding: 2rem 0;">
    <hgroup>
        <h1>Bienvenue sur SAE Manager</h1>
        <p>Gérez mieux vos SAE – Gérez votre planning – Gérez votre réussite</p>
    </hgroup>
</header>

<main class="container">
    <article>
        <h2 style="text-align: center;">À propos de SAE Manager</h2>
        <p>
            SAE Manager est un site vous permettant de planifier vos SAE à travers l’ajout de tâches, de listes et d’objectifs sous la forme d’un tableau avec
            un graphe de votre avancement tout au long de votre projet.
        </p>
        <p>
            <strong>Vous êtes professeurs ?</strong> SAE Manager vous permet de créer une plateforme en lien avec vos SAE et de pouvoir
            voir l’avancement de vos étudiants.
        </p>
        <p>
            <strong>Vous êtes clients ?</strong> Vous pouvez vous aussi voir comment avancent les étudiants et les aider dans leurs projets.
        </p>

        <hr> <p class="description_text">
        SAE Manager a été pensé à la demande de Mme Sakli pour centraliser et ordonner tous les livrables et informations.
        Ce site permet d'optimiser au mieux le temps de travail de toutes les parties.
    </p>
    </article>

    <div style="text-align: center; padding-bottom: 1rem; padding-top: 1rem;">
        <div class="grid" style="display: flex;justify-content: center; gap: 2vw">
            <a href="/login" role="button" class="outline">Connexion</a>
            <a href="/register" role="button">Inscription</a>
        </div>
    </div>

</main>