<!-- Warning messages -->
{{ERROR_MESSAGES}}
{{SUCCESS_MESSAGE}}

<div class="presentation_SAE">
    <h1 class="num_resource">{{SAE_NUM}}</h1>

    <h1>{{SAE_NAME}}</h1>
    <br>
</div>
<article class="main_functionnality">
        <ul class="menu_functionnality">
            {{SAE_MENU}}
        </ul>


    <br>
    <br>
    <div class="bloc_to_put">
        <h3>Description :</h3>
        {{SAE_CONTENT}}
        <div class="sub_bloc">
            <img class="logo_plus" src="/image/logo-plus.png" alt="">
        </div>
        <div class="sub_bloc">
            <img class="logo_plus" src="/image/logo-plus.png" alt="">
        </div>
        <h3>Rendu :</h3>
        <div class="sub_bloc">
            <img class="logo_plus" src="/image/logo-plus.png" alt="">
        </div>

        <h3>Contacts :</h3>
        <div id="contacts" class="sub_bloc" style="height: auto; cursor: default; align-items: flex-start; text-align: left;">
             {{SAE_CONTACTS}}
        </div>
    </div>
</article>
