<!-- Warning messages -->
{{ERROR_MESSAGES}}
{{SUCCESS_MESSAGE}}

<div class="presentation_SAE">
    <h1 class="num_resource">{{SAE_NUM}}</h1>

    <h1>{{SAE_NAME}}</h1>
    <br>
</div>
<div class="main_functionnality">
        <ul class="menu_functionnality">
            {{SAE_MENU}}
        </ul>


    <br>
    <br>
    <div class="bloc_to_put">
        <article><h2>Description :</h2>
        {{SAE_CONTENT}}

        <h2>Contacts :</h2>
        <div id="contacts" class="sub_bloc" style="height: auto; cursor: default; align-items: flex-start; text-align: left;">
             {{SAE_CONTACTS}}
        </div>
        </article>
    </div>
</div>
