
<form action="/settings/edit-profile" method="post" autocomplete="on">

    <p>Téléphone Actuel : <strong>{{PHONE}}</strong></p>
    <label for="phone">
        Modifier le Numéro de téléphone :
    </label>
    <input
            required
            type="text"
            id="phone"
            name="phone"
            pattern="0[467][0-9]{8}"
            maxlength="10"
            aria-required="true"
            aria-describedby="phone-hint">
    <br>
    <small id="phone-hint">Format : 10 chiffres commençant par 04, 06 ou 07</small>
    <br>
    <br>
    <button type="submit">Modifier ses données</button>

</form>
