
<div class="mainContainer">



    <h1 class="title">SAEManager ‑ Authentification</h1>
    <div class="titlediv">
        <h2 class="subtitle">Email : </h2>
        <input type="text" class="textinput" label="Email" placeholder="Entrez votre email"></textfield>
        <h2 class="subtitle">Mot de passe : </h2>
        <input type="text" class="textinput" label="pwd" placeholder="Entrez votre mot de passe" type="password"></textfield>
    </div>
    <button type="submit" class="button">Se connecter</button>
    <h3 class="plainText">Vous n’avez pas de compte? <a href="#">Inscrivez vous</a> <br> Mot de passe oublié? <a href="#"> cliquez ici</a></h3>
    <img class="logo" src="logoamu.png" alt="Logo AMU">
</div>