<main class="container-fluid">
  <h1><strong>SAE Manager - Gérez mieux vos SAE – Gérez votre planning – Gérez votre réussite</strong></h1>
  <h2><strong>Résumé de conservation de données</strong></h2>
  <p>Ce résumé affiche les catégories et finalités par défaut pour la conservation des données des utilisateurs. Certaines zones peuvent avoir des catégories et finalités plus spécifiques que celles indiquées ici.</p>
  <h3><strong>Site</strong></h3>
  <h4><strong>Catégorie</strong></h4>
  <p>Administratif</p>
  <p>État civil, identité, données d&#39;identification, images, ...</p>
  <hr>
  <h4><strong>Finalité</strong></h4>
  <p>Mission d&#39;intérêt public</p>
  <p>Période de conservation</p>
  <p>1 ans</p>
  <table>
    <tbody>
    <tr>
      <td><strong>Bases légales</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Mission d’intérêt public (RGPD Art. 6.1(e))</td>
      <td>Le traitement est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable du traitement</td>
    </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td><strong>Raisons pour le traitement des données personnelles sensibles</strong></td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align:center">Consentement explicite (RGPD Art. 9.2(a))</td>
      <td>La personne concernée a donné son consentement explicite au traitement de ces données à caractère personnel pour une ou plusieurs finalités spécifiques, sauf lorsque le droit de l’Union ou le droit de l’État membre prévoit que l’interdiction visée au paragraphe 1 ne peut pas être levée par la personne concernée</td>
    </tr>
    </tbody>
  </table>
  <h3><strong>Utilisateurs</strong></h3>
  <h4><strong>Catégorie</strong></h4>
  <p>Administratif</p>
  <p>État civil, identité, données d&#39;identification, images, ...</p>
  <hr>
  <h4><strong>Finalité</strong></h4>
  <p>Mission d&#39;intérêt public</p>
  <p>Période de conservation</p>
  <p>1 ans</p>
  <table>
    <tbody>
    <tr>
      <td><strong>Bases légales</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Mission d’intérêt public (RGPD Art. 6.1(e))</td>
      <td>Le traitement est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable du traitement</td>
    </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td><strong>Raisons pour le traitement des données personnelles sensibles</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Consentement explicite (RGPD Art. 9.2(a))</td>
      <td>La personne concernée a donné son consentement explicite au traitement de ces données à caractère personnel pour une ou plusieurs finalités spécifiques, sauf lorsque le droit de l’Union ou le droit de l’État membre prévoit que l’interdiction visée au paragraphe 1 ne peut pas être levée par la personne concernée</td>
    </tr>
    </tbody>
  </table>
  <h3><strong>Catégories de modules SAE</strong></h3>
  <h4><strong>Catégorie</strong></h4>
  <p>Administratif</p>
  <p>État civil, identité, données d&#39;identification, images, ...</p>
  <hr>
  <h4 id="-finalit-"><strong>Finalité</strong></h4>
  <p>Mission d&#39;intérêt public</p>
  <p>Période de conservation</p>
  <p>1 ans</p>
  <table>
    <tbody>
    <tr>
      <td style="text-align:center"><strong>Bases légales</strong></td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align:center">Mission d’intérêt public (RGPD Art. 6.1(e))</td>
      <td>Le traitement est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable du traitement</td>
    </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td><strong>Raisons pour le traitement des données personnelles sensibles</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Consentement explicite (RGPD Art. 9.2(a))</td>
      <td>La personne concernée a donné son consentement explicite au traitement de ces données à caractère personnel pour une ou plusieurs finalités spécifiques, sauf lorsque le droit de l’Union ou le droit de l’État membre prévoit que l’interdiction visée au paragraphe 1 ne peut pas être levée par la personne concernée</td>
    </tr>
    </tbody>
  </table>
  <h3><strong>Projets SAE</strong></h3>
  <h4><strong>Finalité</strong></h4>
  <p>Période de conservation</p>
  <p>Aucune période de conservation n’a été définie</p>
</main>