<div class="presentation_SAE">
    <h1 class="num_resource">S3.2</h1>

    <h1>Ressource sur le réseau</h1>
    <br>
</div>
<article class="main_functionnality">
        <ul class="menu_functionnality">
            <li>
                <h2>Mon groupe</h2>
            </li>
            <li>
                <a href="#">Voir l'avancement</a>
            </li>
            <li>
                <a href="#">Voir le Tableau de bord</a>
            </li>
            <li>
                <a href="#">Voir les tâches restantes</a>
            </li>
            <li>
                <a href="#">Lorem Ipsum</a>
            </li>
        </ul>


    <br>
    <br>
    <div class="bloc_to_put">
        <div class="sub_bloc">
            <img class="logo_plus" src="/image/logo-plus.png" alt="">
        </div>
        <div class="sub_bloc">
            <img class="logo_plus" src="/image/logo-plus.png" alt="">
        </div>
        <h4>Rendu :</h4>
        <div class="sub_bloc">
            <img class="logo_plus" src="/image/logo-plus.png" alt="">
        </div>
    </div>
</article>
