<h1 class="num_resource">S3.2</h1>

<h1>Ressource sur le réseau</h1>
<br>

<ul class="menu_functionnality">
    <li>
        <h2>Mon groupe</h2>
    </li>
    <li>
        <h3>Voir l'avancement </h3>
    </li>
    <li>
        <h3>Voir le Tableau de bord </h3>
    </li>
    <li>
        <h3>Voir les tâches restantes </h3>
    </li>
    <li>
        <h3>Lorem Ipsum </h3>
    </li>
</ul>

<div class="bloc_to_put">
    <div>
        <img class="logo_+" src="/image/logo-plus.png" alt="">
    </div>
    <div>
        <img class="logo_+" src="/image/logo-plus.png" alt="">
    </div>
    <div>
        <h4>Rendu :</h4>
        <img class="logo_+" src="/image/logo-plus.png" alt="">
    </div>
</div>