nav.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}
.brand-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.brand-title {
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: bold;
}
@media (max-width: 600px) {
    nav ul {
        padding: 0.5rem 0;
    }
    .brand-title {
        display: none;
    }


    .header-title {
        display: none; // à corriger
    }
}