body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #036;
    padding: 0 1rem;
    line-height: 1.6;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

body ul,
body ul li {
    list-style: none;
    list-style-type: none;
}

footer {
    padding: 2rem 1rem;
}


a:focus,
a:hover {
    color: #036;
    text-decoration: underline;
    outline: 0;
}
