{{ERROR_MESSAGES}}
{{SUCCESS_MESSAGE}}
<main class="container-fluid">
     <form action="/forgot-password" method="post" autocomplete="on">

          <h1>SAE Manager - Mot de passe oublié</h1>
          <article>

               <h2>
                    Email
                    <abbr title="requis">*</abbr>
               </h2>
               <input
                       required
                       type="email"
                       id="email"
                       name="email"
                       pattern="^[a-zA-ZÀ-ÿ\-']+\.[a-zA-ZÀ-ÿ\-']+(\.[0-9]+)?@(etu\.)?univ-amu\.fr$"
                       autocomplete="email"
                       aria-describedby="email-hint">
               <small id="email-hint">Format : prenom.nom@univ-amu.fr ou prenom.nom@etu.univ-amu.fr</small>
          </article>
          <br>
               <small class="conditions-texte" >Une fois votre email rentré, un mot de passe temporaire vous sera envoyé.
                    Ce mot de passe sera valide pour 10 minutes, ce délai dépassé entrainera l’annualation du mot de passe temporaire.
                    Il vous sera demandé par la suite de re-rentré un mot de passe pour vous connectez. </small>
          <br>
          <button style="margin-top: 1rem" type="submit">Envoyer</button>
          <br>
     </form>
</main>