<div class="presentation_SAE">
    <h1 class="num_resource">S3.2</h1>

    <h1>Ressource sur le réseau</h1>
    <br>
</div>
<article class="main_functionnality">
        <ul class="menu_functionnality">
            <li>
                <h2>Mon groupe</h2>
            </li>
            <li>
                <a href="#avancement">Voir l'avancement</a>
            </li>
            <li>
                <a href="/to-do-list">Voir le Tableau de bord</a>
            </li>
            <li>
                <a href="#remaining-tasks">Voir les tâches restantes</a>
            </li>
            <li>
                <a href="#contacts">Voir les Contacts des membres</a>
            </li>
            <li>
                <a href="/page-sae">Menu de la page SAE</a>
            </li>
        </ul>

    <section id="to-do-list">
        <h2>Tableau de bord</h2>
        <p>Voici les tâches à accomplir pour la SAE en cours :</p>
        <ul id="task-list">
            <!-- Ajouter d'autres tâches si nécessaire -->
        </ul>
    </section>
    <br>

</article>

