:root{
    --main-color-header: #064b82;
    --secondary-color-header: white;
    --hover-color-header: lightgray;
    --active-color-header: gray;
}

body {
    margin: 0;
    padding: 0;
}
header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap : 10vw;
    background-color: var(--main-color-header);
    width: 100%;
    height: 6vw;
    border-radius: 0px;
    padding: 10px;
    font-size: 1vw;
    text-align: center;
    z-index: 1000;
    margin-bottom: 1vw;

    .navBar {
        margin-right: 5vw;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        height: 100%;
    }

    img {
        margin-top: 1vw;
        justify-content: center;
        height: 4vw;
        width: auto;
    }

    a {
        color: var(--secondary-color-header);
        text-decoration: none;
        font-size: 1.3vw;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: lightgray;
    }

    .saeManager {
        justify-content: flex-start;
        background-color: var(--secondary-color-header);
        color: var(--main-color-header);
        padding: 1px;
    }
    .saeManager:hover {
        background-color: var(--hover-color-header);
    }
}
