body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #003366; /* Dark blue AMU */
  margin: 2rem auto;
  max-width: 100vw;
  padding: 0 1rem;
  line-height: 1.6;
}

section h1 {
  color: #005898; /* light blue AMU */
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}

section h2 {
  color: #005898; /* light blue AMU */
  border-bottom: 2px solid #006ABE;
  padding-bottom: 0.3rem;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

section p,
section address {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #003366;
}

address {
  font-style: normal;
  color: #0055a4;
}

a {
  color: #005898;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: #003366;
  text-decoration: underline;
}

section{
  padding: 25px;
}

@media (max-width: 600px) {
  body {
    margin: 1rem;
    padding: 0 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  section{
    padding: 10px;
  }
}
