{{ERROR_MESSAGES}}
<div class="mainContainer">
    <article>
    <h1 class="title" style="text-align: center">SAE Manager ‑ Authentification</h1>

    <form method="post" action="/login" class="titlediv">
        <input type="hidden" name="csrf_token" value="{{CSRF_TOKEN}}">
        <h3 class="subtitle">Email : </h3>
        <input type="text" name="email" class="textinput" placeholder="Entrez votre email" required>
        <h3 class="subtitle">Mot de passe : </h3>
        <input type="password" name="password" class="textinput" placeholder="Entrez votre mot de passe" required>
        </article>
        <div class="button-container">
            <button type="submit" class="button">Se connecter</button>
        </div>
    </form>

    <strong class="plainText">
        Vous n'avez pas de compte? <a href="/register">Inscrivez vous</a> <br>
        Mot de passe oublié? <a href="/forgot-password">cliquez ici</a>
    </strong>

</div>