
{{ERROR_MESSAGES}}

<form action="/register" method="post" autocomplete="on">
    
    <fieldset>
        <legend>Informations personnelles</legend>
        <label for="userType">
            Statut
            <abbr title="requis" >*</abbr>
        </label>
        <select name="user_type" id="userType" required aria-required="true">
            <option value="">-- Sélectionner --</option>
            <option value="student">Étudiant</option>
            <option value="professor">Responsable SAE</option>
            <option value="client">Partenaire</option>
        </select>

        <label for="id">
            Identifiant AMU
            <abbr title="requis">*</abbr>
        </label>
        <input 
            required 
            type="text" 
            id="id" 
            name="amu_id" 
            minlength="3" 
            maxlength="30" 
            pattern="[a-zA-Z0-9._-]+" 
            autocomplete="username"
            aria-required="true"
            aria-describedby="id-hint">
        <small id="id-hint">3 à 30 caractères (lettres, chiffres, points, tirets, underscores)</small>


        <label for="fname">
            Prénom
            <abbr title="requis" >*</abbr>
        </label>
        <input 
            required 
            type="text" 
            id="fname" 
            name="first_name" 
            pattern="[A-Za-zÀ-ÖØ-öø-ÿ\-']+" 
            autocomplete="given-name"
            aria-required="true">

        <label for="lname">
            Nom
            <abbr title="requis" >*</abbr>
        </label>
        <input 
            required 
            type="text" 
            id="lname" 
            name="last_name" 
            pattern="[A-Za-zÀ-ÖØ-öø-ÿ\-']+" 
            autocomplete="family-name"
            aria-required="true">


    </fieldset>

    <fieldset>
        <legend>Contact</legend>
        
        <label for="email">
            Email AMU
            <abbr title="requis" >*</abbr>
        </label>
        <input 
            required 
            type="email" 
            id="email" 
            name="email" 
            pattern="^[a-zA-ZÀ-ÿ\-']+\.[a-zA-ZÀ-ÿ\-']+(\.[0-9]+)?@(etu\.)?univ-amu\.fr$" 
            autocomplete="email"
            aria-required="true"
            aria-describedby="email-hint">
        <small id="email-hint">Format : prenom.nom@univ-amu.fr ou prenom.nom@etu.univ-amu.fr</small>

        <label for="tel">
            Téléphone
            <abbr title="requis" >*</abbr>
        </label>
        <input 
            required 
            type="tel" 
            id="tel" 
            name="phone" 
            pattern="0[467][0-9]{8}" 
            maxlength="10" 
            autocomplete="tel"
            aria-required="true"
            aria-describedby="tel-hint">
        <small id="tel-hint">Format : 10 chiffres commençant par 04, 06 ou 07</small>
    </fieldset>

    <fieldset>
        <legend>Sécurité</legend>
        
        <label for="password">
            Mot de passe
            <abbr title="requis" >*</abbr>
        </label>
        <input 
            required 
            type="password" 
            id="password" 
            name="password" 
            minlength="8" 
            autocomplete="new-password" 
            aria-required="true"
            aria-describedby="pwd-desc">
        <small id="pwd-desc">Au moins 8 caractères</small>
        
        <label for="passwordverif">
            Confirmer le mot de passe
            <abbr title="requis" >*</abbr>
        </label>
        <input 
            required 
            type="password" 
            id="passwordverif" 
            name="passwordverif" 
            minlength="8" 
            autocomplete="new-password"
            aria-required="true">

    </fieldset>

    <fieldset id="etudiantFields" style="display:none;" aria-hidden="true">
        <legend>Informations académiques</legend>
        
        <label for="year">
            Année
            <abbr title="requis" >*</abbr>
        </label>
        <select id="year" name="year" aria-required="false">
            <option value="">-- Sélectionner --</option>
            <option value="1">BUT 1</option>
            <option value="2">BUT 2</option>
            <option value="3">BUT 3</option>
        </select>
        

        <label for="parcours">Parcours</label>
        <select id="parcours" name="parcours">
            <option value="">-- Sélectionner --</option>
            <option value="A">Parcours A</option>
            <option value="B">Parcours B</option>
        </select>
        
        <label for="td">
            Groupe TD
            <abbr title="requis" >*</abbr>
        </label>
        <select id="td" name="td" aria-required="false">
            <option value="">-- Sélectionner --</option>
            <option value="TD1">TD1</option>
            <option value="TD2">TD2</option>
            <option value="TD3">TD3</option>
            <option value="TD4">TD4</option>
        </select>
        
        <label for="tp">
            Groupe TP
            <abbr title="requis" >*</abbr>
        </label>
        <select id="tp" name="tp" aria-required="false">
            <option value="">-- Sélectionner --</option>
            <option value="TPA">TP A</option>
            <option value="TPB">TP B</option>
        </select>
        
    </fieldset>

    <input 
        required 
        type="checkbox" 
        id="terms" 
        name="terms"
        aria-required="true">
    <label for="terms">
        J'accepte les <a href="/conditions-generales" target="_blank" rel="noopener noreferrer">conditions générales</a>
        <abbr title="requis" >*</abbr>
    </label>
    <small><abbr title="requis">*</abbr> Champs obligatoires</small>    

    <button type="submit">S'inscrire</button>      
</form>
